*{
    margin: 0;
}

/* Navigation Bar Styles Start Here */
.header{
    background-color: cadetblue;
    width: 100%;
    overflow: hidden;
}
.profile-pic{
    width: 100px;
    border-radius: 50%;
    border: 0;
    display: flex;

}
nav{
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0 20px;
    transition: 1s;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 10px;
    padding: 15px;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}
nav a:hover{
    color: aqua;
    font-size: 22px;
}
nav li:hover{
    color: #ca2121;
    text-decoration: underline;
    font-size: 25px;
}
                        /* Here are the sub-menus of the navbar */
.sub-menu-holder{
    position: relative;
    cursor: pointer;
}
.sub-menu-container{
    position: absolute;
    border-radius: 8px;
    background-color: black;
    padding: 15px;
    visibility: hidden;
    z-index: 1;
}
.sub-menu-container a{
   font-size: 16px;
   display: block;
   margin: 10px;
   
}
.sub-menu-holder:hover .sub-menu-container{
    visibility: visible;
}
                            /* Submenus of Sub menus */
.sub-menu-holder2{
    position: relative;
}
.sub-menu-container2{
    position: absolute;
    padding: 15px;
    background-color: orange;
    border-radius: 8px;
    visibility: hidden;
    z-index: 1;
}
.sub-menu-holder2:hover .sub-menu-container2{
    visibility: visible;
}
                    /* Submenus of Sub menus end here*/

/* Media Query Styles Here */
@media (max-width:600px){
    nav, nav > ul{
        flex-direction: column;
    }
    nav{
        background-color: orange;
    }
    .profile-pic{
        margin: auto;
    }
}
/* Banner Styles Start Here */
.banner-container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 20px;
}
.banner-photo img{
    width: 400px;
}
.banner-photo{
    text-align: center;
    padding: 20px;
    color:rgb(214, 204, 204);
    
}
.banner-photo img{
    border-radius: 50%;
    transition: 0.3s;
}
.banner-photo img:hover{
    border: 1px solid gold;
    transform: scale(1.1);
    margin: 20px;
}
.banner-photo a{
    text-decoration: none;
}
.banner-photo h2{
    transition: 0.3s;
}
.banner-photo h2:hover{
    text-decoration: underline;
    transform: scale(1.1);
    color: orange;
}

.banner-desc{
    color: white;
    padding: 30px;
    transition: 0.3s;
}
.banner-desc:hover{
    transform: scale(1.05);
    cursor: pointer;
    
}
.banner-desc h2{
    text-align: center;
    padding: 15px;
}
.banner-desc p{
    font-size: 16px;
}
/* Banner Media Queries */
@media (max-width:700px) {
    .banner-container{
        flex-direction: column;
    }
    .banner-desc h2{
        color: gold;
    }
    .banner-photo img{
        width: 70%;
        margin: 0 auto;
    }
    .banner-desc{
        width: 80%;
        margin: auto;
    }
}
/* Media Queries End Here */
/* Navigation Bar and Banner styles end here */

/* Here content-section1 starts */
.content-section1{
    background-color: black;
    color: white;
    padding: 30px 30px 50px 30px;
    
}
.content-section1-title{
    text-align: center;
    margin: 40px 0;
}
.content-section1-title p{
    padding: 15px 40px;
    font-size: 16px;

}
.content-section1-cards-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content-section1-card{
    border: 2px double gray;
    border-radius: 5px;
}
.content-section1-card:hover{
    scale: 1.05;
}
/* The Content Section1 Ends here */


                    /* Footer starts here */
.footer{
    background-color: #333;
    box-sizing: border-box;
    padding: 50px 50px 20px 50px;
}
.footer-section-container{
    color: white;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}
.contact-details, .social-media{
    margin-bottom: 40px;
}
.social-media{
    text-align: center;
}
.social-media i{
   color: white;
   font-size: 16px;
   padding: 8px;
}
.contact-form form{
    padding: 20px;
}
.contact-form form input,textarea{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 0;
    border-radius: 8px;
}
.send-btn{
    background-color: blue;
    color: white;
    margin: 0 20px 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid white;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
}
.contact-form form input:hover, .contact-form form textarea:hover{
    background-color:black;
    color: white;
}
                    /* Footer Ends Here */
